@import "../../vars.css";


.container {
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;

}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 20px; 
        padding: 10px 5%; 
    }

    .text h2 {
        text-align: center;
        font-size: 28px; 
        margin-top: 10px; 
        margin-bottom: 5px; 
    }

    .text p {
        text-align: center;
        font-size: 18px; 
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px; 
    }

    .links {
        align-items: center;
        gap: 10px; 
        flex-flow: wrap;
    }

    .link {
        gap: 10px; 
    }

    .link img {
        max-width: 40px;
        height: auto;
    }

    .link a {
        font-size: 16px; 
    }
}
